<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark" style="background-color: #212121;">
    <a class="navbar-brand" routerLink="/">Order Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#appNavbar"
      aria-controls="appNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="appNavbar">
      <ul class="nav navbar-nav">
        <li>
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/order-form" routerLinkActive="active">Create</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/oi-chart" routerLinkActive="active">OI Chart</a>
        </li>
      </ul>
    </div>
  </nav>
</header>