<div class="row" style="margin: 15px 0;">
    <div class="col-sm-4">
        <label for="optionIndices">Index:</label>&nbsp;
        <select name="optionIndices" id="optionIndices" (ngModelChange)="onOptionIndexChange($event)" [ngModel]="selectedOptionIndex">
            <option [ngValue]="optionIndex" *ngFor="let optionIndex of optionIndices">{{optionIndex.symbol}}</option>
        </select>
    </div>

    <div class="col-sm-4">
        <label for="strikePrices">Strike Prices:</label>&nbsp;
        <select name="strikePrices" id="strikePrices" (ngModelChange)="onStrikePriceChange($event)" [ngModel]="selectedStrikePrice">
            <option [ngValue]="strikePrice" *ngFor="let strikePrice of strikePrices">{{strikePrice}}</option>
        </select>
    </div>
    <div class="col-sm-4">
        <a href="#" (click)="downloadCanvas($event)" class="btn btn-primary float-right">Download</a>
    </div>
</div>

<div class="row">
    <canvas baseChart width="400" height="400" #linechart="base-chart"
        [datasets]="optionChainData"
        [labels]="oiChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
    </canvas>
</div>

<div class="row"><hr></div>