<div class="row container-header">
    <div class="col-sm-4">
        <label for="optionIndices">Index:</label>&nbsp;
        <select name="optionIndices" id="optionIndices" (ngModelChange)="onOptionIndexChange($event)" [ngModel]="selectedOptionIndex">
            <option [ngValue]="optionIndex" *ngFor="let optionIndex of optionIndices">{{optionIndex.symbol}}</option>
        </select>
    </div>
</div>

<ng-container *ngIf="chartComponentsArray.length>0;else loadingChartComps">
    <oi-chart *ngFor="let chartComp of chartComponentsArray" 
        [selectedOptionIndex]="chartComp.index" 
        [selectedStrikePrice]="chartComp.strikePrice">
    </oi-chart>
</ng-container>

<ng-template #loadingChartComps>
    Loading data...
</ng-template>

<div class="row container-footer">
    <div class="col-sm-4">
        <label for="optionIndices">Index:</label>&nbsp;
        <select name="optionIndices" id="optionIndices" (ngModelChange)="onOptionIndexChange($event)" [ngModel]="selectedOptionIndex">
            <option [ngValue]="optionIndex" *ngFor="let optionIndex of optionIndices">{{optionIndex.symbol}}</option>
        </select>
    </div>
</div>